<section>
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-light margin-top50 margin-bottom50">

        <div class="panel-heading">
          <h3 class="panel-title bold text-center"> Edit <%= resource_name.to_s.humanize %></h3>
        </div>
        
        <div class="panel-body">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
            <%= f.error_notification %>
              <%= f.input :email, required: true, label: false, placeholder: '&#xf0e0;  Email'.html_safe %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>
                  Currently awaiting confirmation for: <%= resource.unconfirmed_email %>
                </p>
              <% end %>
              <%= f.input :password, required: true, label: false, placeholder: '&#xf023;  New password'.html_safe %>
              <%= f.input :password_confirmation, required: true, label: false, placeholder: '&#xf023;  Confirm new password'.html_safe %>
              <%= f.input :current_password, required: true, label: false, placeholder: '&#xf023;  Enter Current Password to Save Changes'.html_safe %>
              <div class="text-center">
                <%= f.button :submit, "Update profile", class: 'btn-md btn-primary' %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title bold text-center">Cancel my account</h3>
      </div>
      <div class="text-center">
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure you wish to close your account?" }, method: :delete, class: 'btn-md btn-primary btn' %></p>
      </div>       
    </div>
  </div>
</section>