<section class="margin-top50 margin-bottom50">
  <div class="container text-center">
    <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">    
      <h1>Welcome to <strong>CrossRater</strong></h1>
      <h3 class="panel-title text-center">Get started below and find a box near you:</h3>
      <br />

      <%= form_tag gyms_path, method: "get" do %>

        <div class="search form-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "&#xf002; Find a Box by Name, City or Country".html_safe %>
        </div>
        <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</section>

<%= render :partial => 'welcome/callout' %>
<%= render :partial => 'welcome/features' %>