<section>
  <div class="container">
    <h2 class="text-center">Showing all results for "<%= @search %>"</h2>
    <div class="text-center">
      <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
    </div>
    <br>
    <table data-toggle="table" data-sort-name="name" data-sort-order="asc">
      <thead>
        <tr>
          <th data-field="name" data-align="center" data-sortable="true">Name</th>
          <th data-field="city" data-align="center" data-sortable="true">City</th>
          <th data-field="state" data-align="center" data-sortable="true">State</th>
          <th data-field="country" data-align="center" data-sortable="true">Country</th>
          <th data-field="average" data-align="center" data-sortable="true">Average</th>
        </tr>
      </thead>

      <tbody>
        <% @gyms.each do |gym| %>
          <tr>
            <td><%= link_to gym.name, gym, 'data-no-turbolink' => true %></td>
            <td><%= gym.city %></td>
            <td><%= gym.state %></td>
            <td><%= gym.country %></td>
            <td><div class="average_<%= gym.id %>"></div>(<%= gym_rated(gym) %>)</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div class="text-center">
      <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</section>

<script type="text/javascript">

  <% @gyms.each do |gym| %>
    $(".average_<%= gym.id %>").raty({
      starOn: "<%= image_path('star-on.png') %>",
      starHalf: "<%= image_path('star-half.png') %>",
      starOff: "<%= image_path('star-off.png') %>",
      score: "<%= gym.average_rating %>",
      readOnly: true
    });
  <% end %>
  
</script>