<section>
  <div class="container">
    <div class="container text-center margin-bottom40">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
        <%= form_tag gyms_path, method: "get" do %>

          <div class="search form-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "&#xf002; Find a Box by Name, City or Country".html_safe %>
          </div>
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <h2 class="text-center">Showing <%= @gym_count %> <%= "result".pluralize(@gym_count) %> for "<%= @search %>"</h2>
    <div class="text-center">
      <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
    </div>
    <br>
    <table data-toggle="table" data-mobile-responsive="true" data-sort-name="name" data-sort-order="asc">
      <thead>
        <tr>
          <th data-field="name" data-align="center" data-sortable="true">Name</th>
          <th data-field="city" data-align="center" data-sortable="true">City</th>
          <th data-field="state" data-align="center" data-sortable="true">State</th>
          <th data-field="country" data-align="center" data-sortable="true">Country</th>
          <th data-field="average" data-align="center" data-sortable="true">Average</th>
        </tr>
      </thead>

      <tbody>
        <% @gyms.each do |gym| %>
          <tr>
            <td><%= link_to gym.name, gym, 'data-no-turbolink' => true %></td>
            <td><%= gym.city %></td>
            <td><%= gym.state %></td>
            <td><%= gym.country %></td>
            <td><div class="inline-block"><div class="average_<%= gym.id %>"></div>(<%= gym_rated(gym) %>)</div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div class="text-center">
      <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</section>

<script type="text/javascript">

  <% @gyms.each do |gym| %>
    $(".average_<%= gym.id %>").raty({
      starOn: "<%= image_path('star-on.png') %>",
      starHalf: "<%= image_path('star-half.png') %>",
      starOff: "<%= image_path('star-off.png') %>",
      score: "<%= gym.average_rating %>",
      readOnly: true
    });
  <% end %>
  
</script>