<div class="gym-title">
  <h1><%= @gym.name %></h1>
</div>
<hr>
<div class="container">
  <div class="row gym-title">
    <div class="col-md-4">
      <div id="map-canvas" style="width: 230px; height: 230px;"></div>
    </div>

    <div class="col-md-4">
      <ul>
        <li>Website: <%= link_to @gym.website, @gym.website %></li>
        <li>Address: <%= @gym.address %></li>
        <li>City: <%= @gym.city %></li>
        <li>State: <%= @gym.state %></li>
        <li>Zip: <%= @gym.zip %></li>
        <li>Country: <%= @gym.country %></li>
      </ul>
      Overall Rating: <strong><%= @gym.average_rating %></strong> based on <strong><%= @gym.reviews.count %></strong> <%= "review".pluralize(@gym.reviews.count) %>.
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row gym-title">
    <%= link_to "Add a review", new_gym_review_path(@gym), class: "btn btn-info" %> 
  </div>
</div>
<hr>
<h1 class="gym-title">Reviews</h1>
<div class="paginator gym-title">
  <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
</div>
<div class="container">
  <div class="row">
    <div class="reviews">
      <%= render partial: 'reviews/review', collection: @reviews %>
    </div>
  </div>
</div>
<div class="paginator gym-title">
  <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
</div>

<script type="text/javascript">
  $(function(){
    $('.pagination a').attr('data-remote', 'true')
  });

  function initialize() {
    var mycenter = { lat: <%= @gym.lat %>, lng: <%= @gym.long %> }
    var mapOptions = {
      center: mycenter,
      zoom: 15
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    var marker = new google.maps.Marker({
      position: mycenter,
      map: map
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  <% @reviews.each do |review| %>
    $(".coaching_<%= review.id %>").raty({
      starOn: "<%= image_path('star-on.png') %>",
      starHalf: "<%= image_path('star-half.png') %>",
      starOff: "<%= image_path('star-off.png') %>",
      score: <%= review.coaching %>,
      readOnly: true
    });

    $(".equipment_<%= review.id %>").raty({
      starOn: "<%= image_path('star-on.png') %>",
      starHalf: "<%= image_path('star-half.png') %>",
      starOff: "<%= image_path('star-off.png') %>",
      score: <%= review.equipment %>,
      readOnly: true
    });

    $(".pricing_<%= review.id %>").raty({
      starOn: "<%= image_path('star-on.png') %>",
      starHalf: "<%= image_path('star-half.png') %>",
      starOff: "<%= image_path('star-off.png') %>",
      score: <%= review.pricing %>,
      readOnly: true
    });    

    $(".location_<%= review.id %>").raty({
      starOn: "<%= image_path('star-on.png') %>",
      starHalf: "<%= image_path('star-half.png') %>",
      starOff: "<%= image_path('star-off.png') %>",
      score: <%= review.location %>,
      readOnly: true
    });

    $(".score_<%= review.id %>").raty({
      starOn: "<%= image_path('star-on.png') %>",
      starHalf: "<%= image_path('star-half.png') %>",
      starOff: "<%= image_path('star-off.png') %>",
      score: <%= review.score %>,
      readOnly: true
    });
  <% end %>

</script>