<%= simple_form_for [gym, review] do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :content, required: true, autofocus: true, label: false, placeholder: "Share your thoughts with us!", input_html: { class: 'input-md' } %>
      <%= f.button :submit, "Submit Review", class: "btn-md btn-info" %>
    </div>
    <div class="col-md-4">
      Coaching: <%= rating_for @gym, "coaching", :disable_after_rate => false, :enable_half => true %>
      Equipment: <%= rating_for @gym, "equipment", :disable_after_rate => false, :enable_half => true %>
      Pricing: <%= rating_for @gym, "pricing", :disable_after_rate => false, :enable_half => true %>
      Location: <%= rating_for @gym, "location", :disable_after_rate => false, :enable_half => true %>
    </div>
  </div>
<% end %>