<%= content_tag :div, class: 'media', id: "review-#{review.id}" do %>
  <p>
    <% if review.user %>
      <small>
        <%= review.user.user_name %> on <%= review.updated_at %>
          | <%= link_to "Delete", [review.gym, review], method: :delete %>
      </small>
    <% end %>
    <br>
    <div class="container">
      <div class="col-md-8">
        <%= review.content %>
      </div>
      <div class="col-md-4">
        Coaching: <%= rating_for @gym, "coaching", :disable_after_rate => true, :half_show => true %>
        Equipment: <%= rating_for @gym, "equipment", :disable_after_rate => true, :half_show => true %>
        Pricing: <%= rating_for @gym, "pricing", :disable_after_rate => true, :half_show => true %>
        Location: <%= rating_for @gym, "location", :disable_after_rate => true, :half_show => true %>
      </div>
    </div>
  </p>
<% end %>