<%= content_tag :div, class: 'media', id: "review-#{review.id}" do %>
  <div class="container margin-bottom20">
    <div class="row">
      <div class="spaced col-md-8">
        <small>
          <%= link_to review.user.user_name, user_path(review.user) %> on <%= review.created_at.strftime("%b %d, %Y") %>
          <% if policy(review).edit? %>
            <%= link_to "Edit", edit_gym_review_path(review.gym, review) %> | <%= link_to "Delete", [review.gym, review], method: :delete, data: {confirm: "Are you sure you want to delete this review?"} %>
          <% end %>
        </small>    
        <p class="block">
          <%= review.content %>
        </p>
      </div>
      <div class="spaced col-md-4">
        Coaching: <div class="coaching_<%= review.id %>"></div>
        Equipment: <div class="equipment_<%= review.id %>"></div>
        Pricing: <div class="pricing_<%= review.id %>"></div>
        Location: <div class="location_<%= review.id %>"></div>
        Overall Score: <div class="score_<%= review.id %>"></div>
      </div>
    </div>
  </div>
  <hr class="nomargin">
<% end %>