<%= content_tag :div, class: 'media', id: "review-#{review.id}" do %>
  <p>
    <small>
      <%= review.user.user_name %> on <%= review.updated_at.strftime("%b %d, %Y") %>
      <% if policy(review).edit? %>
        <%= link_to "Edit", edit_gym_review_path(review.gym, review) %> | <%= link_to "Delete", [review.gym, review], method: :delete %>
      <% end %>
    </small>    
    <br>
    <div class="container">
      <div class="col-md-8">
        <%= review.content %>
      </div>
      <div class="col-md-4">
        Coaching: <div class="coaching_<%= review.id %>"></div>
        Equipment: <div class="equipment_<%= review.id %>"></div>
        Pricing: <div class="pricing_<%= review.id %>"></div>
        Location: <div class="location_<%= review.id %>"></div>
        Overall Score: <div class="score_<%= review.id %>"></div>
      </div>
    </div>
  </p>
  <hr>
<% end %>