<div id="header">

  <!-- Top Bar -->
  <header id="topBar" class="styleBackgroundColor"> 
  </header>
  <!-- /Top Bar -->


  <!-- Top Nav -->
  <header id="topNav">
    <div class="container">

      <!-- Logo -->
        <%= link_to root_path, { :class=>"logo" } do %>
          <%= image_tag 'logo.png', height: 50, alt:'' %>
        <% end %>

    
      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

      <!-- Top Nav -->
      <div class="navbar-collapse nav-main-collapse collapse">
        <nav class="nav-main">
          <ul id="topMain" class="nav nav-pills nav-main colored">
            <li class="<%= 'active' if current_page?(root_path) %>">
              <%= link_to root_path do %>
                HOME <span>welcome</span>
              <% end %>
            </li>
            <li class="<%= 'active' if current_page?(about_path) %>">
              <%= link_to about_path do %>
                ABOUT <span>learn more</span>
              <% end %>
            </li>
            <li class="<%= 'active' if current_page?(new_message_path) %>">
              <%= link_to new_message_path do %>
                CONTACT <span>message us</span>
              <% end %>
            </li>
            <% if user_signed_in? %>
              <li class="<%= 'active' if current_page?(current_user) %>">
                <%= link_to current_user do %>
                    <%= (current_user.user_name).upcase %><span>my profile</span>
                <% end %>
              </li>
              <li class="<%= 'active' if current_page?(edit_user_registration_path) %>">
                <%= link_to edit_user_registration_path do %>
                  ACCOUNT <span>edit details</span>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  SIGN OUT <span>goodbye</span>
                <% end %>
              </li>
            <% else %>
              <li class="<%= 'active' if current_page?(new_user_registration_path) %>">
                <%= link_to new_user_registration_path do %>
                  REGISTER <span>sign up</span>
                <% end %>
              </li>
              <li class="<%= 'active' if current_page?(new_user_session_path) %>">
                <%= link_to new_user_session_path do %>
                  LOGIN <span>your account</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
      <!-- /Top Nav -->

    </div><!-- /.container -->
  </header>
  <!-- /Top Nav -->
</div>